<div class = "jumbotron">
  <div class="page-header">
    <h2><%= @profile['first_name'] %> <%= @profile['last_name'] %></small></h2>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
         <img src="https://pbs.twimg.com/profile_images/628353462032437249/FgwPWubH.jpg" alt="...">
        </a>
        <div class="contact_info">
          <i class="fa fa-phone-square"></i>
          <i class="fa fa-envelope"></i>
          <i class="fa fa-twitter"></i> <!--Enter Twitter handle here -->
          <i class="fa fa-linkedin-square"></i>
          <i class="fa fa-github"></i>
          <i class="fa fa-rss"></i>
        </div>
        <div class="view_resume">
          <%= link_to "View Resume", "/", class: "btn btn-primary" %>
        </div>
      </div>
      <p><strong>Short Bio</strong></p>
      <p><%= @profile['short_bio'] %></p>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Education</h3>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left media-top">
            <a href="#">
              <img class="media-object" src="https://d30y9cdsu7xlg0.cloudfront.net/png/1051-200.png" alt="...">
            </a>
          </div>
        <div class="media-body">
         <h4 class="media-heading">School here.</h4>
           <p> profile.students.start_date to .end_date </p>
           <p> profile degree</p>
           <p> details </p>
        </div>
      </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Experience</h3>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left media-top">
            <a href="#">
              <img class="media-object" src="http://www.fydim.ca/en/wp-content/uploads/2015/09/46819.png" alt="...">
            </a>
          </div>
        <div class="media-body">
         <h4 class="media-heading">Job here.</h4>
           <p> profile.students.start_date to .end_date </p>
           <p> company </p>
           <p> details </p>
           <p> job site</p>
        </div>
      </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Skills</h3>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left media-top">
            <a href="#">
              <img class="media-object" src="https://d18aktaazjdhib.cloudfront.net/static/images/design-icon.fc60f0a0c338.png" alt="...">
            </a>
          </div>
        <div class="media-body">
         <h4 class="media-heading">Skills here.</h4>
           <p>Unordered List</p>
           <ul>
            <li>blah</li>
            <li>blah</li>
           </ul>
        </div>
      </div>
      </div>
    </div>
        <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Capstone</h3>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left media-top">
            <a href="#">
              <img class="media-object" src="http://elementos.com.au/wp/wp-content/uploads/2015/02/presentation.png" alt="...">
            </a>
          </div>
        <div class="media-body">
         <h4 class="media-heading">Capstone here.</h4>
           <p>Unordered List</p>
           <ul>
            <li>blah</li>
            <li>blah</li>
           </ul>
        </div>
      </div>
      </div>
    </div>     
  </div>
</div>