<div class = "jumbotron">
  <div class="page-header">
    <h2>My Profile<small> Bill Murray</small></h2>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
         <img src="https://pbs.twimg.com/profile_images/628353462032437249/FgwPWubH.jpg" alt="...">
        </a>
        <div class="contact_info">
          <i class="fa fa-phone-square"></i>
          <i class="fa fa-envelope"></i>
          <i class="fa fa-twitter"></i> <!--Enter Twitter handle here -->
          <i class="fa fa-linkedin-square"></i>
          <i class="fa fa-github"></i>
          <i class="fa fa-rss"></i>
        </div>
        <div class="view_resume">
          <%= link_to "View Resume", "/", class: "btn btn-primary" %>
        </div>
      </div>
      <p><strong>Short Bio</strong></p>
      <p>Enter profile.students.short_bio here.</p>
    </div>


  </div>
</div>